src/test/resources/memcached-namespace-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    This file was automatically generated by the Mule Cloud Connector Development Kit

-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:memcached="http://www.mulesoft.org/schema/mule/memcached"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.3/mule.xsd
                          http://www.mulesoft.org/schema/mule/memcached http://www.mulesoft.org/schema/mule/memcached/1.0-SNAPSHOT/mule-memcached.xsd">

        <!--
           Declare one flow like this one per element you add in your schema.

           See the comment in MemcachedNamespaceHandlerTestCase for an example how to send
           Mule events directly to this flow.

       <flow name="theFlow">
           <memcached:operation parameter="#[payload]"/>
       </flow>
        -->
</mule>
